.container {
  position: relative;
  width: 303px;
  height: 350px;
  display: inline-block;
}
.image {
  display: block;
  width: 303px;
  height: 350px;
  position: absolute;
  top: 0px;
  left: 0px;
}
.overlay {
  position: absolute;
  transition: all 0.3s ease;
  opacity: 0;
  background-color: #eee;
}
.container:hover .overlay {
  opacity: 1;
}
.text {
  color: white;
  font-family: sans-serif;
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  font-size: 15px;
}
/*.overlayLeft {
  height: 100%;
  width: 0;
  top: 0;
  left: 0;
  background-color: #00b1ba;
}*/
/*.container:hover .overlayLeft {
  width: 100%;
}*/

.overlayFade {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #00b1bab3;
}

.pagination {
  display: flex;
  padding-left: 0;
  list-style: none;
  border-radius: 0.25rem;
}
.page-link:hover {
  z-index: 2;
  color: #0056b3;
  text-decoration: none;
  background-color: #e9ecef;
  border-color: #dee2e6;
}
.page-link {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #007bff;
  background-color: #fff;
  border: 1px solid #dee2e6;
}
.page-item.active .page-link {
  z-index: 1;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
.page-item.disabled .page-link {
  color: #6c757d;
  pointer-events: none;
  cursor: auto;
  background-color: #fff;
  border-color: #dee2e6;
}
